@font-face {
  font-family: "GT Walsheim Regular";
  src: url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.eot");
  src: url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.svg#GT Walsheim Regular")
      format("svg");
}
