@import "utilities/colors";

.full-container {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
  position: relative;

  .body {
    box-shadow: 0 0 50px rgb(49 49 48 / 5%);
    max-width: 100rem;
    min-height: 100vh;

    .toolbar {
      height: 8rem;
      background-color: white;
      padding-left: 4rem;
      font-size: 2.5rem;
      font-weight: 700;
    }

    .main-content {
      padding: 4rem;

      .title {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
